<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
    <title>Ejs | <%= title %></title>
  </head>
  <body>
    <% const userName = 'James' %>
    <nav>
      <a href="/" class="nav-link">Home</a>
      <a href="/about" class="nav-link">About</a>
    </nav>
    <h1>Welcome to SSR <%= userName %></h1>
    <p>Today is <%= new Date().getDate() %></p>
    <h2><%= 60 * 60 %></h2>
    <h3>age is <%= age %></h3>
  </body>
</html>
